definition.json
{"name":"cd70461b-8e91-4462-b75a-3172bcbc6400","id":"/providers/Microsoft.Flow/flows/cd70461b-8e91-4462-b75a-3172bcbc6400","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Invoice Approval FLow","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"d1d8e7ec-0d39-4fb3-8667-1a694229ba1d","type":"User","tenantId":"07ef85de-3d07-410d-b72d-0cd4c776ce78"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-06-07T15:36:54.5827135Z","connectionKeySavedTimeKey":"2025-06-07T15:36:54.5827135Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval":{"runAfter":{"Update_item_2":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"approvalType":"Basic","WebhookApprovalCreationInput/title":"Invoice Approval - @{outputs('Get_item')?['body/Title']}\n","WebhookApprovalCreationInput/assignedTo":"Divyam-Manojkumar.Talreja@hsrw.org","WebhookApprovalCreationInput/enableNotifications":true,"WebhookApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForAnApproval"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_item":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","id":"@triggerBody()?['ID']","item/Title":"@outputs('Start_and_wait_for_an_approval')?['body/title']","item/VendorName":"@outputs('Update_item_2')?['body/VendorName']","item/InvoiceDate":"@outputs('Update_item_2')?['body/InvoiceDate']","item/Amount":"@outputs('Update_item_2')?['body/Amount']","item/CostCenter":"@outputs('Get_item')?['body/CostCenter']","item/PaymentMode/Value":"@outputs('Update_item_2')?['body/PaymentMode/Value']","item/Status/Value":"Pending"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Condition_1":{"actions":{"Condition_2":{"actions":{"Update_item_3-copy":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","id":"@outputs('Update_item_2')?['body/ID']","item/Status/Value":"Approved"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Start_and_wait_for_an_approval_of_text":["Succeeded"]},"else":{"actions":{"Update_item_3-copy-copy":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","id":"@outputs('Update_item_2')?['body/ID']","item/Status/Value":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval_of_text')?['body/acceptedText']","Approve"]}]},"type":"If"},"Get_attachments":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org/","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","itemId":"@outputs('Update_item')?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"authentication":"@parameters('$authentication')"}},"Start_and_wait_for_an_approval_of_text":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"WebhookTextSuggestionApprovalCreationInput/title":"Approval","WebhookTextSuggestionApprovalCreationInput/suggestedText":"Approval of Invoice","WebhookTextSuggestionApprovalCreationInput/assignedTo":"Divyam-Manojkumar.Talreja@hsrw.org","WebhookTextSuggestionApprovalCreationInput/itemLinkDescription":"@{outputs('Update_item')?['body/ID']}@{outputs('Update_item_2')?['body/Title']}@{outputs('Update_item')?['body/VendorName']}@{outputs('Update_item')?['body/InvoiceDate']}@{outputs('Update_item')?['body/Amount']}@{outputs('Update_item')?['body/CostCenter']}","WebhookTextSuggestionApprovalCreationInput/enableNotifications":true,"WebhookTextSuggestionApprovalCreationInput/enableReassignment":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_approvals","connectionName":"shared_approvals","operationId":"StartAndWaitForATextSuggestionApproval"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_attachments')","actions":{"Get_attachment_content":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org/","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","itemId":"@outputs('Update_item_2')?['body/ID']","attachmentId":"@items('Apply_to_each')?['Id']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_attachments":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Update_item":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"greater":["@outputs('Update_item')?['body/Amount']",1000]}]},"type":"If"}},"runAfter":{"Start_and_wait_for_an_approval":["Succeeded"]},"else":{"actions":{"Update_item_1":{"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Start_and_wait_for_an_approval')?['body/title']","item/Status/Value":"Rejected"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"equals":["@outputs('Start_and_wait_for_an_approval')?['body/outcome']","Approve"]}]},"type":"If"},"Update_item_2":{"runAfter":{"Get_item":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://hsrworg-my.sharepoint.com/personal/divyam-manojkumar_talreja_hsrw_org","table":"3ea62cec-eb04-4e6f-a74e-47d3403788f1","id":"@triggerBody()?['ID']","item/VendorName":"@triggerBody()?['VendorName']","item/InvoiceDate":"@triggerBody()?['InvoiceDate']","item/Amount":"@triggerBody()?['Amount']","item/CostCenter":"@triggerBody()?['CostCenter']","item/Status/Value":"Pending","item/ApproverEmail":"@outputs('Get_item')?['body/ApproverEmail']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"outputs":{},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"b8a3786aa6a6419bab652911fc1129ee","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_approvals":{"connectionName":"shared-approvals-c0fce99e-cd2a-4c1c-83a9-8ef833059dad","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_approvals","tier":"NotSpecified","apiName":"approvals","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}